<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button type="menu" mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">NG-Fit-Tracker</a>
    </div>
    <div fxFlex fxLayoutAlign="flex-end" fxLayoutGap="10px" fxHide.xs>
        <a *ngIf="!(isAuth$ | async)" routerLink="/signup">Signup</a>
        <a *ngIf="!(isAuth$ | async)" routerLink="/login">Login</a>
        <a *ngIf="isAuth$ | async" routerLink="/training">Training</a>
        <a class="btn-logout" *ngIf="isAuth$ | async" (click)="onLogout()">Logout</a>
    </div>
</mat-toolbar>